@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Bad+Script&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HU:wght@100..400&family=Potta+One&family=Quicksand:wght@300..700&family=Sixtyfour+Convergence&display=swap');

.App {
  font-family: "Potta One", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #222127, #2F1A23);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.App-header {
  background: linear-gradient(to right, #222127, #2F1A23);
  height: 20vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

header button {
  background: linear-gradient(to right, #222127, #2F1A23);
  cursor: pointer;
  border: solid 4px white;
  height: 5vh;
  width: 3vw;
  border-radius: 10px;
  margin: 4vw;
}

header button:hover {
  background: linear-gradient(to right, rgb(0, 0, 0),rgb(0, 0, 0));
  cursor: pointer;
  border: solid 4px rgb(0, 0, 0);
  height: 5vh;
  width: 3vw;
  border-radius: 10px;
  margin: 4vw;
}

header h2 {
  margin: 0;
}

div .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

main{
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main div{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main button{
  background-color: #A72A03;
  color: white;
  height: 5vh;
  width: 10vw;
  cursor: pointer;
  border: hidden;
  font-family: "Potta One", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

footer button{
  background-color: #22514E;
  color: white;
  height: 5vh;
  width: 10vw;
  cursor: pointer;
  border: hidden;
  font-family: "Potta One", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}


/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .App {
    height: auto;
  }

  .App-header {
    font-size: calc(12px + 2vmin);
    height: 40vh;
  }

  main {
    flex-direction: column;
    justify-content: flex-start; /* Para que as seções comecem no topo */
    flex-grow: 1; /* Isso faz o main ocupar o restante do espaço */
    margin-bottom: 20px;
  }

  main div {
    width: 100%;
    margin: 10px 0;
  }

  header button {
    width: 15vw;
    margin: 2vw;
  }

  main button {
    width: 70vw;
    height: 8vh;
    font-size: 16px;
  }

  footer button {
    width: 70vw;
    height: 8vh;
    font-size: 16px;
  }
}

/* Responsividade para telas muito pequenas (celulares em modo retrato) */
@media (max-width: 480px) {
  .App {
    height: auto;
  }

  .App-header {
    font-size: calc(14px + 2vmin);
    height: 30vh;
  }

  main {
    flex-direction: column;
    justify-content: flex-start; /* Para que as seções comecem no topo */
    flex-grow: 1; /* Isso faz o main ocupar o restante do espaço */
    margin-bottom: 20px;
  }

  main div {
    width: 100%;
    margin: 8px 0;
  }


  header button {
    width: 20vw;
    margin: 1vw;
  }

  main button {
    width: 80vw;
    height: 10vh;
    font-size: 18px;
  }

  footer button {
    width: 80vw;
    height: 10vh;
    font-size: 18px;
  }
}
